/home/nikhil/Work/technowings/fleet-management-system/ros_ws/build
/home/nikhil/Work/technowings/fleet-management-system/ros_ws/install
/home/nikhil/Work/technowings/fleet-management-system/ros_ws/log